body {
  background-color: white;
}

header {
  display: flex; justify content: space-between;
}


footer {
  display: flex; justify content: space-between;
}

#logo {
  display: flex; align-items: center; justify-content: center;
}
